<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/icons/CalComponent.vue";
import HelloWorldExample from "./components/icons/HelloWorldExample.vue";
import HandlingUserInput from "./components/icons/HandlingUserInput.vue";
import AttributeBinding from "./components/icons/AttributeBinding.vue";
import ConditionsAndLoops from "./components/icons/ConditionsAndLoops.vue";
import FromBinding from "./components/icons/FormBinding.vue";
import SimpleComponent from "./components/icons/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <FromBinding />
    <br /><br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributeBinding />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
